* {
    box-sizing: border-box;
}

:root {
    --primary-color: #212832;
    --secondary-color: #696d76;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    background: #fff;
}

/* common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 58px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 149px;
    height: var(--height);
    padding: 0 10px;
    border-radius: 8px;
    background: var(--primary-color);
    font-weight: 600;
    font-size: 1.6rem;
    line-height: var(--height);
    color: #ffffff;
}

.btn:hover {
    opacity: 0.9;
}

.sub-heading {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #696d77;
}

.sub-heading::before {
    content: "";
    width: 18px;
    height: 2px;
    margin-right: 12px;
    background: #696d77;
}

.section-desc {
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--secondary-color);
}

/* HEADER */
.header {
    margin-top: 30px;
    padding: 12px 0;
}
.header__inner {
    display: flex;
    align-items: center;
}

.nav {
    margin: 0 auto 0 70px;
}

.nav__list {
    display: flex;
}

.nav__link {
    padding: 7px 24px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: var(--secondary-color);
}

.nav__link:hover {
    text-shadow: 1px 0 0 var(--primary-color);
}

.nav__link--active {
    position: relative;
    text-shadow: 1px 0 0 var(--primary-color);
}

.nav__link--active::after {
    content: "";
    position: absolute;
    left: 24px;
    bottom: 0;
    right: 24px;
    height: 1px;
    padding: 0 24px;
    background: #7264d6;
    border-radius: 0.5px;
}

.header-actions {
    display: flex;
    align-items: center;
}

.header-action-link {
    margin-right: 28px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.75;
    color: var(--primary-color);
}

.header-action-link:hover {
    text-decoration: underline;
}

/* HERO */
.hero {
    margin-top: 64px;
}

.hero__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 160px;
}

.hero__heading {
    font-weight: 700;
    font-size: 6rem;
    line-height: 1.17;
    color: var(--primary-color);
}

.hero__heading span {
    color: #7264d6;
}

.hero__desc {
    width: 540px;
    margin: 20px 0 40px;
}

.subscribe-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 540px;
    height: 74px;
    background: #fff;
    box-shadow: 0px 16px 42px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
}

.subscribe-form__input {
    padding: 23px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.6rem;
    line-height: 1.75;
    color: var(--secondary-color);
}

.subscribe-form__input::placeholder {
    font-size: 1.6rem;
    line-height: 1.75;
    color: var(--secondary-color);
}

.subscribe-form__submit {
    border: none;
    outline: none;
    background-color: #7264d6;
}

.hero__desc-subscribe-form {
    margin-top: 20px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.71;
    color: var(--secondary-color);
}

.screen-phone {
    position: relative;
    width: 296px;
    height: 562px;
    padding: 0 11px;
    background: #ffffff;
    border: 12px solid #212832;
    border-radius: 40px;
}

.screen-phone__top {
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    width: 144px;
    height: 36px;
    background: #3c2f60;
    border-radius: 0px 0px 18px 18px;
}

.screen-phone-card {
    position: relative;
    overflow: hidden;
    margin-top: 40px;
    padding: 16px;
    height: 150px;
    background: linear-gradient(
        60deg,
        rgba(134, 121, 228, 0.9) 30%,
        rgba(114, 100, 214, 1) 60%
    );
    border-radius: 20px;
}

.screen-phone-card__top {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.screen-phone-card__main-balnce {
    font-size: 1.4rem;
    line-height: 1.4;
    color: #ffffff;
}

.screen-phone-card__circle {
    position: relative;
    left: -9px;
}

.screen-phone-card__circle,
.screen-phone-card__circle::before {
    z-index: 2;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #fe6565;
}

.screen-phone-card__circle::before {
    content: "";
    position: absolute;
    left: 16px;
    top: 0;
    z-index: 1;
    display: inline-block;
    background: #feef65;
}

.screen-phone-card__number {
    margin: 2px 0 32px;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1.4;
    color: #ffffff;
}

.screen-phone-card__body {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px 12px;
}

.screen-phone-card__body-item-top {
    font-size: 1rem;
    line-height: 1.4;
    color: #ffffff;
}

.screen-phone-card__body-item-bottom {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.3;

    color: #ffffff;
}

.screen-phone-card__decor {
    position: absolute;
}

.screen-phone-card__decor:nth-of-type(1) {
    left: 0;
    top: 0;
}

.screen-phone-card__decor:nth-of-type(2) {
    right: 0;
    bottom: 0;
}

.screen-phone__body {
    margin-top: 24px;
}

.screen-phone__body-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.screen-phone__body-heading {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.4;
    color: #31456a;
}

.screen-phone__list {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 28px;
}

.screen-phone__item {
    display: flex;
}

.screen-phone__item-icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    width: 40px;
    height: 40px;
    background: rgba(74, 181, 227, 0.1);
    box-shadow: -4px -2px 16px #ffffff, 4px 2px 16px rgba(136, 165, 191, 0.48);
    border-radius: 8px;
}

.screen-phone__item:nth-of-type(2) .screen-phone__item-icon-wrap {
    background-color: rgba(218, 100, 100, 0.1);
}

.screen-phone__item:nth-of-type(3) .screen-phone__item-icon-wrap {
    background-color: rgba(67, 159, 144, 0.1);
}

.screen-phone__item:nth-of-type(4) .screen-phone__item-icon-wrap {
    background-color: rgba(114, 100, 214, 0.1);
}

.screen-phone__item-center,
.screen-phone__item-right {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.screen-phone__item-right {
    align-items: flex-end;
}

.screen-phone__item-title {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: #212832;
}

.screen-phone__item-sub-title {
    font-size: 1rem;
    line-height: 1;
    color: #696d76;
}

.screen-phone__item-right {
    margin-left: auto;
}

.hero__media-deposite {
    position: absolute;
    top: 104px;
    left: -114px;

    display: flex;
    align-items: center;
    width: 174px;
    height: 46px;
    background: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
}

.hero__media-deposite-text,
.hero__media-deposite-number {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: #31456a;
}

.hero__media-deposite-text {
    margin: 0 auto 0 8px;
}

.hero__media-deposite-number {
    font-weight: 400;
    color: #4ab5e3;
}

.hero__media-interest {
    position: absolute;
    top: 115px;
    right: -186px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #da6464;
}

.hero__media-interest span:first-child {
    font-weight: 600;
    font-size: 4.4rem;
    color: #fff;
}

.hero__media-interest span:last-child {
    font-size: 1.6rem;
    color: #fff;
}

.hero__media-secured {
    position: absolute;
    bottom: 50px;
    right: -78px;

    display: flex;
    gap: 11px;
    width: 124px;
    height: 68px;
    padding: 22px 14px;
    background: #439f90;
    border-radius: 10px;
    color: #ffffff;
}

.hero__media-secured-number {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
}

.hero__media-secured-text {
    margin-top: 5px;
    font-size: 0.8rem;
    line-height: 1;
}
