* {
    box-sizing: border-box;
}

:root {
    --primary-color: #212832;
    --secondary-color: #696d76;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    background: #fff;
}

/* common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 58px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 149px;
    height: var(--height);
    padding: 0 10px;
    border-radius: 8px;
    background: var(--primary-color);
    font-weight: 600;
    font-size: 1.6rem;
    line-height: var(--height);
    color: #ffffff;
    outline: none;
    border: none;
}

.btn:hover {
    opacity: 0.9;
}

.sub-heading {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #696d77;
}

.sub-heading::before {
    content: "";
    width: 18px;
    height: 2px;
    margin-right: 12px;
    background: #696d77;
}

.section-desc {
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--secondary-color);
}

.section-heading {
    font-weight: 700;
    font-size: 4rem;
    line-height: 1.25;
    color: var(--primary-color);
}

/* HEADER */
.header {
    margin-top: 30px;
    padding: 12px 0;
}
.header__inner {
    display: flex;
    align-items: center;
}

.nav {
    margin: 0 auto 0 70px;
}

.nav__list {
    display: flex;
}

.nav__link {
    padding: 7px 24px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: var(--secondary-color);
}

.nav__link:hover {
    text-shadow: 1px 0 0 var(--primary-color);
}

.nav__link--active {
    position: relative;
    text-shadow: 1px 0 0 var(--primary-color);
}

.nav__link--active::after {
    content: "";
    position: absolute;
    left: 24px;
    bottom: 0;
    right: 24px;
    height: 1px;
    padding: 0 24px;
    background: #7264d6;
    border-radius: 0.5px;
}

.header-actions {
    display: flex;
    align-items: center;
}

.header-action-link {
    margin-right: 28px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.75;
    color: var(--primary-color);
}

.header-action-link:hover {
    text-decoration: underline;
}

/* HERO */
.hero {
    margin-top: 64px;
}

.hero__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 160px;
}

.hero__heading {
    font-weight: 700;
    font-size: 6rem;
    line-height: 1.17;
    color: var(--primary-color);
}

.hero__heading span {
    color: #7264d6;
}

.hero__desc {
    width: 540px;
    margin: 20px 0 40px;
}

.subscribe-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 540px;
    height: 74px;
    background: #fff;
    box-shadow: 0px 16px 42px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
}

.subscribe-form__input {
    padding: 23px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.6rem;
    line-height: 1.75;
    color: var(--secondary-color);
}

.subscribe-form__input::placeholder {
    font-size: 1.6rem;
    line-height: 1.75;
    color: var(--secondary-color);
}

.subscribe-form__submit {
    border: none;
    outline: none;
    background-color: #7264d6;
}

.hero__desc-subscribe-form {
    margin-top: 20px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.71;
    color: var(--secondary-color);
}

.screen-phone {
    position: relative;
    width: 296px;
    height: 562px;
    padding: 0 11px;
    background: #ffffff;
    border: 12px solid #212832;
    border-radius: 40px;
}

.screen-phone__top {
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    width: 144px;
    height: 36px;
    background: #3c2f60;
    border-radius: 0px 0px 18px 18px;
}

.screen-phone-card {
    position: relative;
    overflow: hidden;
    margin-top: 40px;
    padding: 16px;
    height: 150px;
    background: linear-gradient(
        60deg,
        rgba(134, 121, 228, 0.9) 30%,
        rgba(114, 100, 214, 1) 60%
    );
    border-radius: 20px;
}

.screen-phone-card__top {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.screen-phone-card__main-balnce {
    font-size: 1.4rem;
    line-height: 1.4;
    color: #ffffff;
}

.screen-phone-card__circle {
    position: relative;
    left: -9px;
}

.screen-phone-card__circle,
.screen-phone-card__circle::before {
    z-index: 2;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #fe6565;
}

.screen-phone-card__circle::before {
    content: "";
    position: absolute;
    left: 16px;
    top: 0;
    z-index: 1;
    display: inline-block;
    background: #feef65;
}

.screen-phone-card__number {
    margin: 2px 0 32px;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1.4;
    color: #ffffff;
}

.screen-phone-card__body {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px 12px;
}

.screen-phone-card__body-item-top {
    font-size: 1rem;
    line-height: 1.4;
    color: #ffffff;
}

.screen-phone-card__body-item-bottom {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.3;

    color: #ffffff;
}

.screen-phone-card__decor {
    position: absolute;
}

.screen-phone-card__decor:nth-of-type(1) {
    left: 0;
    top: 0;
}

.screen-phone-card__decor:nth-of-type(2) {
    right: 0;
    bottom: 0;
}

.screen-phone__body {
    margin-top: 24px;
}

.screen-phone__body-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.screen-phone__body-heading {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.4;
    color: #31456a;
}

.transection__list {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 28px;
    width: 100%;
}

.transection__item {
    display: flex;
}

.transection__item-icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    width: 40px;
    height: 40px;
    background: rgba(74, 181, 227, 0.1);
    box-shadow: -4px -2px 16px #ffffff, 4px 2px 16px rgba(136, 165, 191, 0.48);
    border-radius: 8px;
}

.transection__item:nth-of-type(2) .transection__item-icon-wrap {
    background-color: rgba(218, 100, 100, 0.1);
}

.transection__item:nth-of-type(3) .transection__item-icon-wrap {
    background-color: rgba(67, 159, 144, 0.1);
}

.transection__item:nth-of-type(4) .transection__item-icon-wrap {
    background-color: rgba(114, 100, 214, 0.1);
}

.transection__item-center,
.transection__item-right {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.transection__item-right {
    align-items: flex-end;
}

.transection__item-title {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: #212832;
}

.transection__item-sub-title {
    font-size: 1rem;
    line-height: 1;
    color: #696d76;
}

.transection__item-right {
    margin-left: auto;
}

.hero__media-deposite {
    position: absolute;
    top: 104px;
    left: -114px;

    display: flex;
    align-items: center;
    width: 174px;
    height: 46px;
    background: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
}

.hero__media-deposite-text,
.hero__media-deposite-number {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: #31456a;
}

.hero__media-deposite-text {
    margin: 0 auto 0 8px;
}

.hero__media-deposite-number {
    font-weight: 400;
    color: #4ab5e3;
}

.hero__media-interest {
    position: absolute;
    top: 115px;
    right: -186px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #da6464;
}

.hero__media-interest span:first-child {
    font-weight: 600;
    font-size: 4.4rem;
    color: #fff;
}

.hero__media-interest span:last-child {
    font-size: 1.6rem;
    color: #fff;
}

.media-secured {
    position: absolute;
    bottom: 50px;
    right: -78px;

    display: flex;
    gap: 11px;
    width: 124px;
    height: 68px;
    padding: 22px 14px;
    background: #439f90;
    border-radius: 10px;
    color: #ffffff;
}

.media-secured-number {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
}

.media-secured-text {
    margin-top: 5px;
    font-size: 0.8rem;
    line-height: 1;
}

/* WORK */
.work {
    margin-top: 160px;
}

.work__inner {
    display: flex;
    gap: 228px;
}

.work__media {
    position: relative;
}

.work__img-wrap {
    width: 456px;
    height: 619px;
}

.work__img {
    width: 100%;
}

.word__decor {
    position: absolute;
    top: 76px;
    right: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    outline: 7px solid #7264d6;
    background: #f8fbfe;
    border-radius: 4px;
}

.work-media-secured {
    width: 226px;
    height: initial;
    background: #fffdfa;
    box-shadow: 0px 14px 34px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
}

.work__media-secured {
    display: flex;
    align-items: center;
}

.work__media-secured-number {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.2;
    color: var(--primary-color);
}

.work__media-secured-text {
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    line-height: 1.3;
    color: var(--secondary-color);
}

.work__content {
    padding: 29px 0;
}

.work__list-works {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 70px;
}

.work__item-heading {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1.45;
    color: var(--primary-color);
}

.work__item-desc {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #696d76;
}

/* SMART WALLET */
.smart-wallet {
    margin-top: 160px;
}

.smart-wallet__inner {
    display: flex;
    align-items: center;
    gap: 130px;
}

.smart-wallet__card-wrap {
    position: relative;
}

.smart-wallet__heading,
.smart-wallet__desc {
    width: 470px;
}
.smart-wallet__desc,
.smart-wallet__item {
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--secondary-color);
}
.smart-wallet__desc {
    margin-top: 20px;
}
.smart-wallet__list {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin: 28px 0 38px;
}

.smart-wallet__item {
    font-weight: 600;
    color: var(--primary-color);
}

.smart-wallet__item::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 12px;
    background: #7264d6;
}

.smart-wallet__card {
    width: 482px;
    height: 332px;
    padding: 38px;
}

.smart-wallet__main-balnce {
    font-size: 2.4rem;
    line-height: 1.4;
}

.smart-wallet__circle,
.smart-wallet__circle::before {
    width: 48px;
    height: 48px;
}

.smart-wallet__circle::before {
    left: 28px;
}

.smart-wallet__number {
    font-size: 3.2rem;
    line-height: 1.4;
    margin-bottom: 98px;
}

.smart-wallet__body-item-top {
    font-size: 2rem;
    line-height: 1.4;
}

.smart-wallet__body-item-bottom {
    font-size: 2.2rem;
    line-height: 1.4;
}

.smart-wallet__transection-wrap {
    position: absolute;
    right: -88px;
    top: -10px;
    padding: 23px 13px;
    background: #fff;
    margin: initial;
    box-shadow: 0px 14px 38px rgba(0, 0, 0, 0.07);
    border-radius: 12px;
    height: 86px;
    width: 276px;
}

.smart-wallet-income {
    position: absolute;
    bottom: -55px;
    right: -88px;
    width: 120px;
    height: 120px;
    padding: 14px;
    background: #439f90;
    border-radius: 16px;
}

.smart-wallet-income__img-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 8px;
}

.smart-wallet-income__text {
    margin: 14px 0 6px;
    font-size: 1.2rem;
    line-height: 1.4;
    color: #fff;
}

.smart-wallet-income__number {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.4;
    color: #fff;
}
.work-bottom__inner {
    align-items: center;
}

.work-bottom__media {
    position: relative;
}

.work-bottom__img-wrap {
    position: relative;
    overflow: hidden;
    width: 460px;
    height: auto;
}

.work-bottom__img-wrap::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -67px;
    display: block;
    height: 504px;
    background: #92c2c2;
    border-radius: 8px;
    transform: skewY(-14.8deg);
}

.work-bottom__img-wrap img {
    z-index: 2;
    position: relative;
    width: 100%;
    display: block;
}

.work-bottom__desc {
    margin: 20px 0 28px;
}

.payment-block {
    position: absolute;
    bottom: 57px;
    right: -74px;
    z-index: 2;
    padding: 28px;
    background: #fff;
    box-shadow: 0px 44px 48px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.payment-block__title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--primary-color);
}

.payment-block__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    margin-top: 20px;
}

.payment-block__item-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 63px;
    height: 48px;
    background: #f2f2fa;
    border-radius: 4px;
}
.payment-block > figure {
    position: absolute;
    right: -26px;
    top: -35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background: #7264d6;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
}
